{% extends 'layout' %}

{% block content %}


<div style="padding:auto; margin:auto; text-align:center;">
  <h1> Nincs joga a keresett ToDo megtekintéséhez! </h1>
 </div>

{% endblock %}





      
        
