{% extends 'layout' %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Név</h3>
  </div>
  <div class="panel-body">
    <h4>{{ todo.name }}</h4>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Kategória</h3>
  </div>
  <div class="panel-body">
    <h4>{{ todo.category.name }}</h4>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Leírás</h3>
  </div>
  <div class="panel-body">
    <h4>{{ todo.description }}</h4>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Határidő</h3>
  </div>
  <div class="panel-body">
    {% if todo.day_date < 10 and todo.month_date < 10 and todo.year_date >= 2016 %}
    <h4>{{ todo.year_date }}.0{{ todo.month_date }}.0{{ todo.day_date }} </h4>
    {% elif todo.day_date < 10 and todo.year_date >= 2016%}
    <h4>{{ todo.year_date }}.{{ todo.month_date }}.0{{ todo.day_date }} </h4>
    {% elif todo.month_date < 10  and todo.year_date >= 2016 %}
    <h4>{{ todo.year_date }}.0{{ todo.month_date }}.{{ todo.day_date }} </h4>
    {% elif todo.day_date > 0  and todo.month_date > 0 and todo.year_date >= 2016 %}
    <h4>{{ todo.year_date }}.{{ todo.month_date }}.{{ todo.day_date }} </h4>
    {% else %}
    <h4></h4>
    
    {% endif %}
  </div>
</div>

  <div style="padding:auto; margin:auto; text-align:center;">
    <table style="padding:auto; margin:auto; text-align:center;">
    
      <td style="padding:10px; width:33%">
        <a href="/todos/{{ todo.id }}/addNewMember" class="btn btn-success" style="width:100%">Tag hozzáadása</a>
      </td>
     <td style="padding:10px; width:33%">
        <a href="/todos/{{ todo.id }}/modify" class="btn btn-success" style="width:100%">Módosítás</a>
      </td>
      <td style="padding:10px; width:33%">
        <a href="/todos/{{ todo.id }}/delete" class="btn btn-success" style="width:100%">Kész</a>
      </td>
    </table>
  </div>

  <br>

  <div class="panel panel-danger">
  <div style="padding:auto; margin:auto; text-align:center;">
  <table style="width:100%; align:left" >
    <tr>
      <td style="width:90%; align:left">
        <h3> Megjegyzések </h3>
      </td>
            
      <td style="">
        <a href="/todos/{{ todo.id }}/comment" class="btn btn-success" style="">Új megjegyzés</a>
      </td>
    </tr>
  </table>
      </div>
    <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>#</th>
        <th>Komment</th>
      </tr>
    </thead>
    <tbody>
      {% for comment in comments %}
        <tr>
          <td style="width:10%">
            {{ comment.id }}.
          </td>
          <td>
            {{ comment.text }}
          </td>
          
           <td style="width:5%">
            <a href="/comments/{{comment.id}}/modify" > Szerkeszt </a>
          </td>
           <td style="width:5%">
            <a href="/comments/{{comment.id}}/delete" > Törlés </a>
          </td>
      {% endfor %}
      </tbody>
    </table>






{% endblock %}