{% extends 'layout' %}

{% block content %}


<div style="padding:auto; margin:auto; text-align:center;">
  <h1> Az Ön által keresett ToDo sajnos nem elérhető! </h1>
  <br>

  <h2> Amennyiben linkről jutott el erre az oldalra, úgy elképzelhető, hogy a keresett ToDo már törlésre került! </h2>
  <br>
 </div>

{% endblock %}





      
        
